:host > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// height: 70px;
	// background-color: #445;
	padding: 10px 0px;
}

.logo {
	color: #339; // #ea2845;
	font-size: 40px;
}
